
body {
  margin: 0;
  padding: 10px;
  background: rgb(235, 229, 240);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background: url(CINEMATCH.mp4);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}



.clock {
  text-align: center;
}

main {
  max-width: 650px;
  margin: auto;
  padding: 50px;
  background: rgb(191, 225, 237);
  border-radius: 8px;
}


h1 {
  color: #6a1b9a;
}

label {
  display:flex;
  margin-top: 15px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  color: white;
  background: #6a1b9a;
  border: 0;
  cursor: pointer;
}

#resultado {
  color: green;
  font-weight: bold;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.logo img {
  width: 500px;
  height: auto;
  display: block;
}
